@font-face {
    font-family: 'UTM_HelvetIns';
    src: url('../fonts/UTMHelvetIns.eot');
    src: url('../fonts/UTMHelvetIns.eot') format('embedded-opentype'), url('../fonts/UTMHelvetIns.woff')
    format('woff2'), url('../fonts/UTMHelvetIns.woff') format('woff'), url('../fonts/UTMHelvetIns.ttf')
    format('truetype'), url('../fonts/UTMHelvetIns.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf')  format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf')  format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans_Extrabold';
  src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Extrabold.woff') format('woff'), url('../fonts/OpenSans-Extrabold.ttf')  format('truetype'), url('../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Bold';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans_Semibold';
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf')  format('truetype'), url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Black';
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf')  format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:focus {
    color: #0d7cd6;
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.fixed {
    position: fixed !important;
    top: 0px;
    z-index: 99;
    width: 100%;
}
.clearfix-130{
    clear: both;
    height: 130px;
}
.clearfix-100{
    clear: both;
    height: 100px;
}
.clearfix-80{
    clear: both;
    height: 80px;
}
.clearfix-70{
    clear: both;
    height: 70px;
}
.clearfix-60{
    clear: both;
    height: 60px;
}
.clearfix-55{
    clear: both;
    height: 55px;
}
.clearfix-50{
    clear: both;
    height: 50px;
}
.clearfix-45{
    clear: both;
    height: 45px;
}
.clearfix-40{
    clear: both;
    height: 40px;
}
.clearfix-35{
    clear: both;
    height: 35px;
}
.clearfix-30{
    clear: both;
    height: 30px;
}
.clearfix-32{
    clear: both;
    height: 32px;
}
.clearfix-25{
    clear: both;
    height: 25px;
}
.clearfix-20{
    clear: both;
    height: 20px;
}
.clearfix-15{
    clear: both;
    height: 15px;
}
.clearfix-12{
    clear: both;
    height: 12px;
}
.clearfix-10{
    clear: both;
    height: 10px;
}
.clearfix-5{
    clear: both;
    height: 5px;
}

body {
    background: #fff;
    font-size: 12px;
    font-family: arial;
    color: #000;
}

del {
    font-size: 12px;
    color: #999;
}

/*===========All=============*/
.w_100 {
    width: 100%;
}

.w_40 {
    width: 40%;
}

.w_60 {
    width: 60%;
}

/*==========Main============*/
.menu_mb{
    position: fixed;
    width: 100%;
    background: #ffffff;
    z-index: 999;
    padding: 1px 15px;
    border-bottom: 1px solid #ccc;
}
#go_top {
    position: fixed;
    width: 24px;
    height: 25px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    background-size: 100% 100%;
    display: inline-block;
    z-index: 100;
    bottom: 25px;
    right: 25px;
}
.img_logo_mb{
    max-height: 60px;
    max-width: 70%
}
.menu_main .nav.is-fixed{
    position: relative;
    z-index: 105;
}
.pdd_10 {
  padding: 0 10px;
}
.row_10 {
  margin: 0 -10px;
}

/**new***/
.list_sevice .inner_news {
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}
.list_sevice .inner_news .img_news {
    width: 216px;
}
.list_sevice .inner_news .img_news img{
    max-width: 100%;
}
.inner_news .img_news {
    float: left;
    width: 289px;
    display: block;
    margin-right: 7px;
}
.inner_news .sub_news {
    overflow: hidden;
}
.inner_news .sub_news h3 {
    height: 34px;
    overflow: hidden;
    font-family: Roboto_Bold;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.inner_news .sub_news h3 a {
    color: #0ba2b3;
}
.inner_news .sub_news .des_news {
    font-family: Roboto_Regular;
    font-size: 14px;
    color: #333;
    text-align: justify;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}
.inner_news .sub_news a.view_more {
    display: inline-block;
    padding: 7px 15px;
    border: 1px solid #32a03e;
    -webkit-border-radius: 25px;
    color:#32a03e;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.title-ar{font-size: 24px}
.page-content, .content{line-height: 24px}


.fixed .logo_pc img{
    width: 175px;
}
.qts_head_mid.fixed .bt_dangkynhanh{
        margin: 18px 0 18px 8px;
}
.qts_head_mid.fixed .logo_pc {
    margin: 6px 0;
}
.slider_wrap.slider_fullwide.slider_engine_revo.slider_alias_main{
    height: calc(100vh - 46px) !important;
}
.rev_slider.fullwidthabanner.tp-simpleresponsive.revslider-initialised{
    max-height: 100% !important;
}
.rev_slider_wrapper.fullwidthbanner-container, .rev_slider.fullwidthabanner.tp-simpleresponsive.revslider-initialised{
    height: 100% !important;
}
.tongtien_fix {
    position: fixed;
    bottom: 0;
    margin: 0;
    background: #fff;
    z-index: 7;
}